// Mixins
.list-sm-indent{
	ul, ol{
		padding-left: 0;
		list-style-position: inside;
		li{
			padding-left: 0;
		}
	}
}

/////////////////
//// Layouts ////
/////////////////
.qg-secondary-content{
	@extend .list-sm-indent;
}
#qg-index-links{
	@extend .list-sm-indent;
	@extend .row;

	&> div, &> span{
		@extend .col-md-6;
	}
}
